* {
  margin: 0px;
  font-family: "Nunito", sans-serif;
}
.background {
  background-image: url("images/cover.png");
  background-size: cover;
  width: 100%;
  height: fit-content;
}
/* NAVBAR */
.navbar-brand {
  margin-left: 10rem;
}
.navbar-collapse {
  margin-right: 11rem;
}
.navbar {
  border-bottom: 0.2px solid white;
}
.title {
  color: white;
  font-weight: lighter;
  font-size: 1rem;
  margin: 0.5rem;
}
/* MAIN */
main {
  text-align: center;
}
main h1,
p,
h2 {
  color: white;
}
main h1 {
  padding: 4rem 18rem 1.5rem 18rem;
  font-weight: 400;
}
main h2 {
  padding-top: 2rem;
}
main p {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1.5rem;
}
.login {
  padding: 0.4rem 5rem;
  margin: 0.5rem;
  color: white;
}
.arrow {
  padding-top: 4rem;
  color: white;
}
/* WHENEVER div */
#whenever {
  background-color: #cecebc;
  text-align: center;
  padding: 3rem;
}
#whenever p {
  color: black;
  line-height: 0.5rem;
  color: gray;
}
#whenever h2 {
  padding-bottom: 2rem;
}
.green {
  color: #1aa172;
  text-decoration: none;
}
/* STEROIDS DIV  */
#steroids {
  background-color: #1b242b;
  text-align: center;
  color: white;
  padding: 3rem 22rem;
}
.link {
  font-weight: lighter;
  padding-top: 3rem;
}
#steroids p {
  font-weight: lighter;
  color: #72767d;
}
/* PEOPLE DIV  */
#people {
  text-align: center;
  padding: 3rem;
}
#people h2 {
  color: #19cc8b;
  padding-bottom: 2rem;
}
#people p {
  line-height: 0.5rem;
  color: gray;
}
#people h5 {
  padding-top: 2.5rem;
}
/* FRIENDS DIV */
#friends {
  background-color: #19cc8b;
  text-align: center;
  padding: 10rem;
  color: white;
}
#friends p {
  font-weight: 300;
  padding: 0rem 14rem;
}
#friends h5 {
  padding-top: 3rem;
}
/* PUBLISH DIV */
#publish {
  text-align: center;
  padding: 3rem;
}
#publish p {
  color: gray;

  padding: 1.5rem 17rem 2rem 17rem;
}
#publish h2 {
  color: #19cc8b;
}
/* Pricing Section */
#package {
  background-color: #dadada;
  text-align: center;
  padding: 5% 15% 5% 15%;
}
.text {
  padding: 2rem 8rem;
}
#package p {
  color: rgb(148, 148, 148);
}

.card-head {
  background-color: #363f48;
  color: white;
}
.card-body {
  padding: 0;
}
.card {
  height: 100%;
  border-radius: 0ch;
}
.price-row > * {
  padding-left: 0;
  padding-right: 0;
}
.pricing {
  padding: 2.5rem 6rem;
  font-weight: bolder;
  border-bottom: 1px solid rgb(185, 184, 184);
  margin-bottom: 0.1rem;
}
.gray {
  background-color: #f3f7f8;
}
.price {
  color: gray;
  font-size: 2rem;
}
.package-details {
  padding-top: 5%;
  line-height: 1.5rem;
  border-top: 1px solid rgb(185, 184, 184);
}
.package-details p {
  margin-bottom: 0;
  padding: 0.5rem;
}

#package h2 {
  font-weight: 800;
}
#package h6 {
  color: rgb(138, 137, 137);
  padding: 1% 15% 3% 15%;
}

h5 {
  line-height: 4rem;
}
.get-btn {
  background-color: #19cc8b;
  color: white;
}
.started-btn {
  border-radius: 2px;
}
.pricing-btn {
  padding: 1rem;
}
.most-popular {
  background-color: rgb(89, 219, 213);
  color: white;
}

/* Footer */
#foot {
  background-color: #1b242b;
}
.foot-img {
  margin: 2rem 8rem;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  padding: 0rem 0rem 2rem 8rem;
  flex: 50%;
}

.flex-item-right {
  padding: 0rem 2rem 2rem 0rem;
  flex: 50%;
}
.green {
  color: #19cc8b;
}
.address {
  color: white;
}
.address tr td {
  padding: 0.3rem;
}
/* ft */
#ft {
  background-color: #262f36;
  font-weight: lighter;
}
.copyright {
  padding: 1rem 2rem 0 2rem;
}
.copy {
  margin: 0;
  font-size: 0.8rem;
  color: white;
}
.list {
  border-right: 1px solid white;
  display: inline-block;
  padding: 0 15px;
}
/* Responsive layout */
@media screen and (max-width: 400px) {
  .navbar-brand {
    margin-left: 1rem;
  }
  #whenever img {
    width: 60%;
  }
  #people img {
    width: 60%;
  }
  #friends img {
    width: 60%;
  }
  #steroids img {
    width: 60%;
  }
  #publish img {
    width: 60%;
  }
  #whenever p {
    line-height: 1rem;
  }
  #people p {
    line-height: 1rem;
  }
  #friends p {
    padding: 2rem;
  }
  .foot-img {
    margin: 4rem;
  }
  .flex-item-right {
    flex: 100%;
    padding: 1rem 5rem;
  }
  .flex-item-left {
    flex: 100%;
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    margin-left: 1rem;
  }
  #whenever img {
    width: 60%;
  }
  #people img {
    width: 60%;
  }
  #friends img {
    width: 60%;
  }
  #steroids img {
    width: 60%;
  }
  #publish img {
    width: 60%;
  }
  #whenever p {
    line-height: 1rem;
  }
  #people p {
    line-height: 1rem;
  }
  #friends p {
    padding: 2rem;
  }
}

@media screen and (max-width: 992px) {
  main h1 {
    padding: 4rem 5rem 1.5rem 5rem;
    font-weight: 400;
  }
  #steroids {
    padding: 3rem;
  }
  #steroids p {
    font-size: 1rem;
  }
  #friends {
    padding: 2rem 1rem;
  }
  #publish {
    padding: 2rem 1rem;
  }
  #publish p {
    padding: 1rem 4rem;
  }
  .text {
    padding: 2rem;
  }
  .flex-item-right {
    flex: 100%;
    padding: 1rem 5rem;
  }
  .flex-item-left {
    flex: 100%;
  }
  .bottom-nav {
    display: none;
  }
}
